
<div style="width: 100%;" class="over">
    <div class="row" style="height: 15%;">
        <div class="col-md-4 b-vermelho">
            <img style="height: 100%;width:100%" src="assets/logoPedidosProntos.png">
        </div>
        <div style="height: 100%;width:100%" class="col-md-8 text-center b-amarelo">
            <h1 class="vertical-center text-center">PEDIDOS PRONTOS APPS PARCEIROS</h1>
        </div>
    </div>
    <div *ngIf="false" class="row b-amarelo border-top" style="height: 8%;">
        <div class="col-md-12 text-center ">
            <h2 class="vertical-center">PLATAFORMA</h2>
        </div>
    </div>

    <div class="row" style="height: 7%;">
        <div class="col-md-3 text-center" style="background-color: rgb(234,29,44);">
            <img style="width: auto;height:100%" src="assets/img-apps/ifood.png">
        </div>
        <div class="col-md-3 text-center" style="background-color: rgb(0,0,0);">
            <img style="width: auto;height:100%" src="assets/img-apps/uber.png">
        </div>
        <div class="col-md-3 text-center" style="background-color: rgb(255,120,100);">
            <img style="width: auto;height:100%" class="text-center" src="assets/img-apps/rappi.png">
        </div>
        <div class="col-md-3 text-center" style="background-color: rgb(152,77,237);">
            <img style="width: auto;height:100%" src="assets/img-apps/james.png">
        </div>
    </div>
    <div class="row" style="height: 68%;overflow-y:auto">
        <div class="col-md-3" style="color: white;">
            <div class="row" style="height:100%">
                <div class="col-md-6 text-center" style="background-color:rgb(198,32,38);">
                    <div  *ngFor="let pp of pedidosPorParceiro.ifood" id="ifoodList">
                        <div>
                            <h4>{{pp.numero}}</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center" style="background-color:rgb(135,21,24)">
                    <div  *ngFor="let pp of pedidosPorParceiro.ifood" id="ifoodListTime">
                        <div>
                            <h4>{{pp.updatedAt}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="color: white;">
            <div class="row" style="height:100%">
                <div class="col-md-6 text-center" style="background-color:rgb(35,31,32)">
                    <div  *ngFor="let pp of pedidosPorParceiro.uberEats" id="uberEatsList">
                        <div>
                            <h4>{{pp.numero}}</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center" style="background-color:rgb(0,0,0)">
                    <div  *ngFor="let pp of pedidosPorParceiro.uberEats" id="uberEatsListTime">
                        <div>
                            <h4>{{pp.updatedAt}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="color: white;">
            <div class="row" style="height:100%">
                <div class="col-md-6 text-center" style="background-color:rgb(232,109,90)">
                    <div  *ngFor="let pp of pedidosPorParceiro.rappi" id="rappiList">
                        <div>
                            <h4></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center" style="background-color:rgb(199,93,77)">
                    <div  *ngFor="let pp of pedidosPorParceiro.rappi" id="rappiListTime">
                        <div>
                            <h4></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="color: white;">
            <div class="row" style="height:100%">
                <div class="col-md-6 text-center" style="background-color:rgb(152,77,237)">
                    <div  *ngFor="let pp of pedidosPorParceiro.james" id="jamesList">
                        <div>
                            <h4></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center" style="background-color:rgb(128,66,199)">
                    <div  *ngFor="let pp of pedidosPorParceiro.james" id="jamesListTime">
                        <div>
                            <h4></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row b-vermelho" style="height: 10%;color:white">
        <div class="col-md-8" style="height: 100%;"><h3 class="vertical-center">{{informacoesGerais['mensagem']}}</h3></div>
        <div class="col-md-2" style="height: 100%;">
            <img style="height: 100%;" src="assets/tempoMedioPreparo.png"> </div>
        <div class="col-md-2" style="height: 100%;">
            <h3 class="vertical-center">{{informacoesGerais['tempoMedio']}} min</h3>
        </div>
    </div>
</div>




